<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <div class="headerContainer">
        <div class="listImg">
        <img  src="./../../Assets/Icon/List.png" alt="list" width="12.5" height="17.19">
    </div>
    <div >
        <img class="scoHeaderLogo" src="./../../Assets/Logo/SCO-Header-Logo 1.png" alt="logo" width="147.65" height="32.32">
    

    </div>
    <div class="searchBoxDiv">
        <input class="searchBox" type="text" >
        <img class="scoHeaderLogo" src="./../../Assets/Icon/greenSearchIcon.png" alt="logo" width="147.65" height="32.32">

   

    </div>
</div>
</body>
</html>