<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
</head>
<body>
    <div>
    <!-- header -->
    <div class="headerContainer">
        <div class="listImg">
        <img  src="./../../Assets/Icon/List.png" alt="list" width="12.5" height="17.19">
    </div>
    <div >
        <img class="scoHeaderLogo" src="./../../Assets/Logo/SCO-Header-Logo 1.png" alt="logo" width="147.65" height="32.32">
    

    </div>
    <!-- <div class="searchBoxDiv">
        <input class="searchBox" type="text" >
        <img class="scoHeaderLogo" src="./../../Assets/Icon/greenSearchIcon.png" alt="logo" width="147.65" height="32.32">

   

    </div> -->
    <div class="navBar">
        <h3 class="contentNavBar"> E-Services Portal</h3>
       <div class="navBarFlex" ><img class="vector" src="./../../Assets/Icon/Vector.png" alt="logo" width="12.5" height="6.25"> <h3 id="flexid" class="contentNavBar">Mobile</h3></div>
       <div class="navBarFlex" ><img class="vector" src="./../../Assets/Icon/Vector.png" alt="logo" width="12.5" height="6.25"> <h3 id="flexid" class="contentNavBar">Phone</h3></div>
       <div class="navBarFlex" ><img class="vector" src="./../../Assets/Icon/Vector.png" alt="logo" width="12.5" height="6.25"> <h3 id="flexid" class="contentNavBar">Intrnet</h3></div>
       <div class="navBarFlex" ><img class="vector" src="./../../Assets/Icon/Vector.png" alt="logo" width="12.5" height="6.25"> <h3 id="flexid" class="contentNavBar">S Paisa</h3></div>
       <div class="navBarFlex" ><img class="vector" src="./../../Assets/Icon/Vector.png" alt="logo" width="12.5" height="6.25"> <h3 id="flexid" class="contentNavBar">Projects</h3></div>
       <div class="navBarFlex" ><img class="vector" src="./../../Assets/Icon/Vector.png" alt="logo" width="12.5" height="6.25"> <h3 id="flexid" class="contentNavBar">Alerts</h3></div>





    </div>
</div>
<!-- header & nav bar close -->
<div class="mainBanner">
    <img class="bgImg" src="./../../Assets/Images//wide-angle-shot-satellite-tower-mountain 1.png" alt="logo">

    <div class="fourGLogo">
        <div class="fourGLogo">  
            <div class="">  <img class="logovector" src="./../../Assets/Images/Vector (1).png" alt="logo"></div>
            <div class=""> <img class="logovectorone" src="./../../Assets/Images/Vector (2).png" alt="logo"></div>
            <div class=""> <img class="logovectortwo" src="./../../Assets/Images/Vector (3).png" alt="logo"></div>
            <img class="" src="./../../Assets/Images/4g-icon_104576-129 1.png" alt="logo"></div>

        


<div class="bannerHeading">

Mobile Network
</div>
<div class="fourGContant">First ever GSM cellular services in Azad Jammu & Kashmir and Gilgit Baltistan were launched by SCO in 2004 with brand name of SCOM.</div>
    </div>
    <div class="circle">

    </div>
    <img class="rectangle" src="./../../Assets/Images/Rectangle 3.svg" alt="logo">


<div class="couple">
    <img class="" src="./../../Assets/Images/couple.png" alt="logo"></div>


</div>
<!-- middel -->
<div>
    <img class="GroupA" src="./../../Assets/Icon/Group 25.svg" alt="logo">
    <img class="GroupB" src="./../../Assets/Icon/Group 26.svg" alt="logo">
    <img class="GroupC" src="./../../Assets/Icon/Group 27.svg" alt="logo">
    <img class="GroupD" src="./../../Assets/Icon/Group 28.svg" alt="logo">
    <img class="GroupE" src="./../../Assets/Icon/Group 29.svg" alt="logo">
    <img class="GroupF" src="./../../Assets/Icon/Group 30.svg" alt="logo">


</div>
<div class="packages">
    Packages
</div>
<div class="packagesD">
    Check out SCO 4G hot packages and enjoy the most exhilarating mobile internet packages, SMS, Voice & hybrid packages
</div>
<div>
    <img class="pagenation" src="./../../Assets/Icon/Group 61.png" alt="logo">

</div>
<div >
   
        <img class="button" src="./../../Assets/Icon/Tooltip.svg" alt="logo">
    
    
</div>
<div>
    <img class="card" src="./../../Assets/Icon/Group 39.svg" alt="logo">

</div>
<div>
    <img class="cardone" src="./../../Assets/Icon/Group 40.svg" alt="logo">

</div>
<div>
    <img class="cardtwo" src="./../../Assets/Icon/Group 41.svg" alt="logo">

</div>
<div >
    <img class="why" src="./../../Assets/Icon/Why and Services.svg" alt="logo">
</div>
<div>
    <img class="eleven" src="./../../Assets/Icon/Group 11.svg" alt="logo">

</div>
<div>
    <img class="sixteen" src="./../../Assets/Icon/Group 16.svg" alt="logo">

</div>
<div>
    <img class="fourtysix" src="./../../Assets/Icon/Group 46.svg" alt="logo">

</div>
<div>
    <img class="ninteen" src="./../../Assets/Icon/Group 19.svg" alt="logo">

</div>
<div>
    <img class="seventeen" src="./../../Assets/Icon/Group 17.svg" alt="logo">

</div>
<div class="footer">
    <div class="footerSubDiv_1">
        <div class="footerItemContainer">
            <h1 class="footerTextHeader">WHO WE ARE</h1>
            <p class="footerText">Who We Are</p>
            <p class="footerText">Contact Us</p>
            <p class="footerText">Customer Service Centre</p>
            <p class="footerText">Franchises</p>
            <p class="footerText">FAQs</p>
            <p class="footerText">SCOM Scratch Cards at Ufone</p>
            <p class="footerText">Outlets Now</p>
        </div>
        <div class="footerItemContainer">
            <h1 class="footerTextHeader">SERVICES</h1>
            <p class="footerText">S Paisa</p>
            <p class="footerText">SCOM</p>
            <p class="footerText">S Phone</p>
            <p class="footerText">S Net</p>
            <p class="footerText">SCO WLL</p>
            <p class="footerText">DXX</p>
            <p class="footerText">LDI</p>
            <p class="footerText">DPLC & Colocation</p>
            <p class="footerText">Triple Play Services Request Form</p>
        </div>

        <div class="footerItemContainer">
            <h1 class="footerTextHeader">IMPORTANT LINKS</h1>
            <p class="footerText">Dialling Codes</p>
            <p class="footerText">Coverage Area</p>
            <p class="footerText">Corporate Services</p>
            <p class="footerText">Check or Recharge DSL</p>
            <p class="footerText">Important Links</p>
            <p class="footerText">Tenders</p>
            <p class="footerText">Careers</p>
            <p class="footerText">Transfer of Sims of Deceased Persons</p>    
        </div>

        <div class="footerItemContainer">
            <h1 class="footerTextHeader">EVENTS & PRESS RELEASE</h1>
            <p class="footerText">Covid-19</p>
            <p class="footerText">Press Release</p>
            <p class="footerText">Feedback@sco.gov.pk</p>
            <p class="footerText">Events 2021-2022</p>
            <p class="footerText">info@sco.gov.pk</p>
            <p class="footerText">SCO Email</p>
        </div>
        
        <div style="justify-content: flex-end; align-items: flex-end;" class="footerItemContainer">
            <img class="footerGroupIMG" src="../../Assets/Icon/Group 1.svg" />
            <img class="footerGroupIMG" src="../../Assets/Icon/Group2.svg" />
        </div>

    </div>
    <div class="footerSubDiv_2">
        <div style="width: 50%;justify-content: center;align-items: center;" class="footerItemContainer">
            <img class="footerFrame1" src="../../Assets/Icon/Frame 66.svg"/>
        </div>
        <div style="width: 50%;justify-content: flex-end;align-items: flex-end;" class="footerItemContainer">
            <img class="footerFrame2" src="../../Assets/Icon/Frame 68.svg"/>
        </div>
    </div>
</div>
</body>
</html>