.base{
    position: relative;
    width:1340px ;
}
/*header sarts*/
.headerContainer{
    width: 100%;
    height: 114px;
    display: flex;
    position: absolute;
}
.listImg{
    
     margin-left: 63.91px;
     margin-top:40.5px ;
     margin-bottom:53.5px ;
}
.scoHeaderLogo{
    margin-left:618.66px;
    margin-bottom: 44.03px;
    margin-top: 37.6px;

}
/* .searchBoxDiv{
    margin-left: 335px;
    margin-top: 45px;
    
}
.searchBox{
    width: 223px;
    height: 30.76px;
    border: 1px;
    border-color: gray;
    border-radius: 20px;
} */
.navBar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 26px 60px;
    gap: 100px;

    position: absolute;
    width: 100%;
    height: 71px;
    left: -10px;
    top: 114px;
    z-index: 2;
    background: #007643;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.contentNavBar{
    height: 29px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    
    /* identical to box height, or 29px */
    
    text-transform: capitalize;
    
    color: #FFFFFF;
}
.navBarFlex{
    display: flex;
    align-items: center;
}
/* .vector{
    position: absolute;



} */
#flexid{
    flex: 2;
}
/* header close */
.mainBanner{
 
position: absolute;
width: 1440px;
height: 830px;
left: -18px;
top: 87px;
}
.fourGLogo{
    position: absolute;
width: 220.11px;
height: 830px;
left: 95.89px;
top: 100PX;
z-index: 1;
}
.bannerHeading{
    /* Mobile Network */
position: absolute;
width:650px;
height: 65px;
left: 80px;
top: 280px;

font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 110%;
/* or 70px */


color: #29166E;
}
.bgImg{
    position: relative;
    width: 106.75%;    
    height: 630px;
    top: 160px;
}
.logovector{
    position: absolute;
right: 68.33%;
bottom: 89.13%;
z-index: -1;
}
.logovectorone{
    position: absolute;
    right: 80%;
    bottom: 86.91%;
    z-index: -1;
    
}
.logovectortwo{
    
position: absolute;
right: 85.5%;
bottom: 84%;
z-index: -1;

}
.fourGContant{
    position: absolute;
width: 495px;
height: 92px;
left: 82px;
top:350px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;
/* or 32px */

text-align: justify;

color: #000000;

}
.circle{
    position: absolute;
width: 651.54px;
height: 343.84px;
left: -465.9px;
top: 682.34px;

background: linear-gradient(274.37deg, #197745 4.29%, #4CBF82 96.36%);
border-radius: 648.491px;
transform: rotate(-31.61deg);

}
.rectangle{
    position: absolute;
    width: 34%;
    height: 97%;
    left: 72.7%;
    top: 19%;
    z-index: 0;

}
.couple{
    position: absolute;
width: "110%";
height: "100%";
left: 67%;
top: 31.75%;

}
.subNavBar{
    position: absolute;
width: 1096px;
height: 87px;
left: 172px;
top: 823px;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);

background: #FFFFFF;
border-radius: 20px;
}
.subContainer{
    /* 4G Mobile Network */


position: absolute;
width: 472px;
height: 64px;
left: 100px;
top: 990px;
color: #197745;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 160%;
/* identical to box height, or 64px */
}
.GMNContant{
    position: absolute;
width: 705px;
height: 414px;
left: 71px;
top: 1070px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;
/* or 32px */
color: #000000;
text-align: justify;
}
.wrappe{
    position: absolute;
width: 538px;
height: 503px;
left: 852px;
top: 890px;

background: #FFFFFF;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.blueRec{
    /* Rectangle 3 */


position: absolute;
width: 556.71px;
height: 293.79px;
right: -182.31px;
top: 1221.78px;

background: linear-gradient(85.44deg, #3E4095 14.07%, #787ACF 94.08%);
border-radius: 411px;
transform: rotate(-31.61deg);
}
.GroupA{
    /* Group 25 */


position: absolute;
width: 115.35px;
height: 115.35px;
left: 178.86px;
top:135%;

}
.GroupB{
    position: absolute;
width: 115.35px;
height: 115.35px;
left: 372.35px;
top:135%;


}
.GroupC{
    position: absolute;
    width: 115.35px;
    height: 115.35px;
    left: 565.84px;
    top:135%;
}
.GroupD{
    position: absolute;
    width: 115.35px;
    height: 115.35px;
    left: 759.33px;
    top:135%;
}
.GroupE{
    position: absolute;
width: 115.35px;
height: 115.35px;
left: 952.81px;
top:135%;
}
.GroupF{
    position: absolute;
width: 115.35px;
height: 115.35px;
left: 1146.3px;
top:135%;
}
.packages{
    /* Packages */


position: absolute;
width: 205px;
height: 61px;
left: 175px;
top: 155%;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 160%;
/* or 64px */

display: flex;
align-items: center;

color: #197745;
}
.packagesD{
    position: absolute;
width: 185px;
height: 74px;
left: 176px;
top: 163%;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 176.5%;
/* or 18px */

text-align: justify;

color: #000000;
}
.pagenation{
    position: absolute;
width: 41.91px;
height: 15.86px;
left: 248px;
top: 180%;

}
.button{
    /* Tooltip */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 8px;

position: absolute;
width: 118.95px;
height: 33.98px;
left: 200px;
top:184%;

background: #D99956;
border-radius: 27px;
}
.card{
    position: absolute;
width: 263.95px;
height: 280.94px;
left: 443.23px;
top: 155%;
border-radius: 5px;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);

}
.cardone{
    position: absolute;
width: 263.95px;
height: 280.94px;
left: 720.77px;
top: 155%;
border-radius: 5px;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.cardtwo{
    position: absolute;
width: 263.95px;
height: 280.94px;
left: 998.3px;
top: 155%;
border-radius: 5px;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.why{
    position: absolute;
    width: 1325px;
    height: 687.42px;
    left: 60px;
    top: 198%;
}
.eleven{
position: absolute;
width: 558px;
height: 600.9px;
left: 60px;
top: 300%;
}
.sixteen{
    position: absolute;
width: 765.71px;
height: 589.07px;
left: 628px;
top: 300%;
}
.fourtysix{
    position: absolute;
width: 1440px;
height: 480px;
left: 0px;
top: 390%;
}
.ninteen{
    position: absolute;
width: 762px;
height: 352px;
left: 48px;
top: 500%;
}
.seventeen{
    position: absolute;
width: 568px;
height: 724px;
left: 824px;
top: 465%;
}
div.footer{
    position: absolute;
    width: 100%;
    height: 457px;
    left: 0px;
    top: 570%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #197745;
}
div.footerSubDiv_1{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
div.footerItemContainer{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
h1.footerTextHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* or 29px */
    
    color: #FFFFFF;
    margin-top: 20%;
    margin-left: 15%;
    margin-bottom: 2%;
}
p.footerText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 480;
    font-size: 15px;
    /* or 29px */
    
    color: #FFFFFF;

    margin-bottom: -10px;
    margin-left: 15%;
}
img.footerGroupIMG{
    margin-bottom: 10px;
    margin-right: 10%;
}
div.footerSubDiv_2{
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}
img.footerFrame1{
    margin-left: -25%;
}
img.footerFrame2{
    margin-bottom: 10px;
    margin-right: 4%;
}