<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Pageone.css">
        <title>Page 1</title>
    </head>
    <body>
        <div class="mainContainer">
            <div class="header">
                <h1>Header</h1>
            </div>

            <div class="navBar">
                <h1>Nav Bar</h1>
            </div>
            
            <div class="rectangle6">
                <img class="netflixBack" src="../../Assets/Netflix_English-5baff18e4cedfd0026d27d78-3a224b5938464fe6a6299f8fe4945a5b.svg" alt="netflix_wallpaper"></img>
                <img class="scoSmartTvLogo" src="../../Assets/Logo/logo-sco-tv 2.svg" alt="sco_smart_tv_logo"> </img>
                <h1 class="text1">High speed is for <b style="font-weight: 900;">Higher Altitudes</b></h1>
                
                <div class="rectangle7">
                    <img class="icon2" src="../../Assets/Icon/Vector2.svg"></img>
                    <img class="icon1" src="../../Assets/Icon/Vector1.svg"></img>
                    <a class="text2">sco.gov.pk/gpon-packages</a>
                </div>

                <img class="smartTV" src="../../Assets/sco sMART tv 1.svg" alt="smart_tv"></img>
                <div class="rectangle3"></div>

            </div>
            <div class="footer">
                <h1>Footer</h1>
            </div>
        </div>
    </body>
</html>