<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
</head>

<body>
    <div>


        <div class="mainContainerPackagesPage">
            <!-- header -->
            <div class="header">
                <div class="dropdown-main">
                    <img src="../Assets/Icon/List.svg" class="List dropbtn-main" />
                    <div class="dropdown-content-main">
                            <a href="#">BRAND AMBASSADOR</a>
                            <a href="#">ABOUT US</a>
                            <a href="#">EXPLORE WITH SCO</a>
                            <a href="#">EVENTS</a>
                            <a href="#">VALUE ADDED SERVICES</a>
                            <a href="#">SUPPORT</a>
                      </div>
                </div>
                <a href="./Index.html">
                    <div>
                        <img style="position: absolute; height: 28.33px; top: 31.44px;" src="../Assets/Icon/Sco Logo.svg" class="ScoLogo" />
                        <img style="width: 153.8px; height: 19.35px; margin-right: 314px; margin-top: 8%;" src="../Assets/Images/Tagline.svg" class="ScoTagLine" />
                    </div>
                </a>
                <img src="../Assets/Icon/Search.svg" class="searchBar" />
            </div>
            <!-- navbar -->
            <div class="navBar">
                <a class="custom-link" href="./Index.html">
                    <h1 class="navBarText">E-Services Portal</h1>
                </a>
                <div class="dropdown">
                  <a class="navBarText"><img class="icon4 dropbtn" src="../Assets/Icon/Vector9.svg" />Mobile</a>
                  <div class="dropdown-content">
                    <div class="col-6">
                        <a href="#">Overview</a>
                        <div class="linee-1"></div>
                        <a href="#">Coverage</a>
                        <div class="linee-2"></div>
                        <a href="#">Service Features</a>
                        <div class="linee-3"></div>
                        <a href="#">International Call Ratess</a>
                    </div>
                    <div class="coll">
                        <a class="custom-packages" href="../Components/PackagesPage.html"><img class="icon-packages" src="../Assets/Icon/packages.png" />Packages</a>
                        <a href="#">Prepaid</a>
                        <div class="linee-4"></div>
                        <a href="#">Postpaid</a>
                        <div class="linee-5"></div>
                        <a href="#">Corporate</a>
                    </div>
                  </div>
                </div>
                
                <!-- <div class="dropdown">
                    <button class="dropbtn">Dropdown 
                    </button>
                   
                  </div>  -->
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Phone</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Internet</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />S Paisa</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Projects</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Alerts</h1>
            </div>
            <!-- <div class="rectangle6">
                <img class="bgImg" src="../Assets/Images//wide-angle-shot-satellite-tower-mountain 1.png"
                    alt="netflix_wallpaper">
                </img>
                <img class="fourgLogo" src="../Assets/Icon/Group 20.svg" alt="fourgLogo"> </img>
                <h1 class="text1">Mobile Network</h1>
                <p1 class="text">First ever GSM cellular services in Azad Jammu & Kashmir and Gilgit Baltistan were
                    launched by SCO in 2004 with brand name of SCOM.</p1>
                <img class="couple" src="../Assets/Images/couple.png" alt="couple" />
                <img class="rectangle3" src="../Assets/Icon/Rectangle 3.svg" alt="rect_3" />



            </div> -->

            <div class="slideshow-container">

                <div class="mySlides rectangle6 fade">
                <img class="bgImg" src="../Assets/Images//wide-angle-shot-satellite-tower-mountain 1.png"
                    alt="netflix_wallpaper">
                </img>
                <img class="fourgLogo" src="../Assets/Icon/Group 20.svg" alt="fourgLogo"> </img>
                <h1 class="text1">Mobile Network</h1>
                <p1 class="text">First ever GSM cellular services in Azad Jammu & Kashmir and Gilgit Baltistan were
                    launched by SCO in 2004 with brand name of SCOM.</p1>
                <img class="couple" src="../Assets/Images/couple.png" alt="couple" />
                <img class="rectangle3" src="../Assets/Icon/Rectangle 3.svg" alt="rect_3" />
                </div>
                
                <div class="mySlides rectangle6 fade">
                    <img class="bgImg" src="../Assets/Images/4G Broadband Device 1.png"
                    alt="netflix_wallpaper">
                </img>
                </div>
                
                <div class="mySlides rectangle6 fade">
                    <img class="bgImg" src="../Assets/Images//wide-angle-shot-satellite-tower-mountain 1.png"
                    alt="netflix_wallpaper">
                </img>
                <img class="fourgLogo" src="../Assets/Icon/Group 20.svg" alt="fourgLogo"> </img>
                <h1 class="text1">Mobile Network</h1>
                <p1 class="text">First ever GSM cellular services in Azad Jammu & Kashmir and Gilgit Baltistan were
                    launched by SCO in 2004 with brand name of SCOM.</p1>
                <img class="couple" src="../Assets/Images/couple.png" alt="couple" />
                <img class="rectangle3" src="../Assets/Icon/Rectangle 3.svg" alt="rect_3" />
                </div>
                
            </div>
                <br>
                
                <div style="text-align:center; margin-top: 56.5%">
                  <span class="dot" ></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                </div>

            <div class="group11">
                <img src="../Assets/Images/Group 11.svg" alt="group11" />
            </div>    

            <div class="bodyContainer">
                <button class="btn_2">
                    <img style="position :static; margin-top: 45px;"src="../Assets/Icon/11.svg" />
                    <img style=" position:relative; margin-top: -20px;" src="../Assets/Icon/11.1.svg" /> 
                </button>

                <button class="btn_2">
                    <img style="position :static; margin-top: 55px;"src="../Assets/Icon/12.svg" />
                    <img style=" position:relative; margin-top: -5px;" src="../Assets/Icon/12.1.svg" /> 
                </button>
                
                <button class="btn_2">
                    <img style="position :static; margin-top: 45px;"src="../Assets/Icon/13.svg" />
                    <img style=" position:relative; margin-top: -5px;" src="../Assets/Icon/13.1.svg" /> 
                </button>

                <button class="btn_2">
                    <img style="position :static; margin-top: 45px;"src="../Assets/Icon/14.svg" />
                    <img style=" position:relative; margin-top: -15px;" src="../Assets/Icon/14.1.svg" /> 
                </button>

                <button class="btn_2">
                    <img style="position :static; margin-top: 45px;"src="../Assets/Icon/15.svg" />
                    <img style=" position:relative; margin-top: -15px;" src="../Assets/Icon/15.1.svg" /> 
                </button>

                <button class="btn_2">
                    <img style="position :static; margin-top: 55px;"src="../Assets/Icon/16.svg" />
                    <img style=" position:relative; margin-top: -5px;" src="../Assets/Icon/16.1.svg" /> 
                </button>
            </div>
 
            

            <div class="cards">
                <div class="cards1">
                    <img style="margin-left: 30%;" src="../Assets/Images/Packages (1).svg" />
                    <img style="margin-left: 30%;" src="../Assets/Images/text1.svg" />
                    <div style="margin-left: 40%;" class="btnContainer_1">
                        <button class="prev1" onclick="plusSlides1(-1)"><img src="../Assets/Icon/arrow_L.svg"/></button>
                        <button class="next1" onclick="plusSlides1(1)"><img src="../Assets/Icon/arrow_R.svg"/></button>
                    </div>
                    <button style="margin-left: 40%;" class="btn_0"><img src="../Assets/Icon/Tooltip (3).svg"/></button>
                </div>
                <div class="slideshow-container1">
                    <div class="mySlides1 fade1">
                        <img style="margin-right: 40px;"src="../Assets/Icon/Group 39 (1).svg"/>
                        <img src="../Assets/Icon/Group 40 (1).svg"/>
                    </div>

                    
                    <div class="mySlides1 fade1">
                        <img style="margin-right: 40px;" src="../Assets/Icon/Group 40 (1).svg"/>
                        <img src="../Assets/Icon/Group 41 (1).svg"/>
                    </div>                
                </div>
            </div>
            <div class="heading">
                <img class="check" src="../Assets/Images/4G Broadband Device 1.svg" alt="icon6" />
            </div>
            <div class="why-special">
                <h1 class="heading1">WHY SPECIAL COMMUNICATIONS ORGANIZATION?</h1>
                <img class="mobile" src="../Assets/Icon/Connect With SCO New 1.svg" alt="mobile" />
                <p class="card">
                <h1 class="heading2">Connect With SCO</h1>
                <p class="text5">SCO is pioneer in facilitating AJ&K (Azad Jammu & Kashmir) and GB (Gilgit Baltistan) to provide with cutting edge technology for better communication in the region.</p>
                <img class="button" src="../Assets/Images/Tooltip (1).svg" alt="button" />
            </div>
            <!-- <div class="why-services">
                <img class="check" src="../Assets/Images/Services Logos.svg" alt="services" />
            </div> -->
            <div>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <img style="width: 150px; height: 150px;" class="item"  src="../Assets/Images/gpon.svg" />    
                        <img style="width: 150px; height: 150px;" class="item"  src="../Assets/Images/4g.svg" />
                        <img style="width: 150px; height: 150px;" class="item" src="../Assets/Images/snet.svg" />
                        <img style="width: 150px; height: 150px;" class="item"  src="../Assets/Images/landline.svg" />
                        <img style="width: 150px; height: 150px;" class="item"  src="../Assets/Images/wll.svg" />
                        <img style="width: 150px; height: 150px;" class="item"  src="../Assets/Images/dxx.svg" />
                        <img style="width: 150px; height: 150px;" class="item"  src="../Assets/Images/gpon.svg" />

                    </ul>
                
                    <div class="paddles">
                        <button class="left-paddle paddle hidden">
                            <img src="../Assets/Images/Vector (122).svg" />
                        </button>
                        <button class="right-paddle paddle">
                            <img src="../Assets/Images/Vector (133).svg" />
                        </button>
                    </div>
                
                </div>
            </div>
        </div>
          <div class="footer">
                <div class="footerSubDiv_1">
                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">WHO WE ARE</h1>
                        <p class="footerText">Who We Are</p>
                        <p class="footerText">Contact Us</p>
                        <p class="footerText">Customer Service Centre</p>
                        <p class="footerText">Franchises</p>
                        <p class="footerText">FAQs</p>
                        <p class="footerText">SCOM Scratch Cards at Ufone</p>
                        <p class="footerText">Outlets Now</p>
                    </div>
                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">SERVICES</h1>
                        <p class="footerText">S Paisa</p>
                        <p class="footerText">SCOM</p>
                        <p class="footerText">S Phone</p>
                        <p class="footerText">S Net</p>
                        <p class="footerText">SCO WLL</p>
                        <p class="footerText">DXX</p>
                        <p class="footerText">LDI</p>
                        <p class="footerText">DPLC & Colocation</p>
                        <p class="footerText">Triple Play Services Request Form</p>
                    </div>

                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">IMPORTANT LINKS</h1>
                        <p class="footerText">Dialling Codes</p>
                        <p class="footerText">Coverage Area</p>
                        <p class="footerText">Corporate Services</p>
                        <p class="footerText">Check or Recharge DSL</p>
                        <p class="footerText">Important Links</p>
                        <p class="footerText">Tenders</p>
                        <p class="footerText">Careers</p>
                        <p class="footerText">Transfer of Sims of Deceased Persons</p>    
                    </div>

                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">EVENTS & PRESS RELEASE</h1>
                        <p class="footerText">Covid-19</p>
                        <p class="footerText">Press Release</p>
                        <p class="footerText">Feedback@sco.gov.pk</p>
                        <p class="footerText">Events 2021-2022</p>
                        <p class="footerText">info@sco.gov.pk</p>
                        <p class="footerText">SCO Email</p>
                    </div>
                    
                    <div style="justify-content: flex-end; align-items: flex-end;" class="footerItemContainer">
                        <img class="footerGroupIMG" src="../Assets/Icon/Group 1.svg" />
                        <img class="footerGroupIMG" src="../Assets/Icon/Group2.svg" />
                    </div>

                </div>
                <div class="footerSubDiv_2">
                    <div style="width: 50%;justify-content: center;align-items: center;" class="footerItemContainer">
                        <img class="footerFrame1" src="../Assets/Icon/Frame 66.svg"/>
                    </div>
                    <div style="width: 50%;justify-content: flex-end;align-items: flex-end;" class="footerItemContainer">
                        <img class="footerFrame2" src="../Assets/Icon/Frame 68.svg"/>
                    </div>
                    
                </div>
                
            </div>


            <script>
                let slideIndex = 0;
                    showSlides();

                    function showSlides() {
                    let i;
                    let slides = document.getElementsByClassName("mySlides");
                    let dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    setTimeout(showSlides, 5000); // Change image every 2 seconds
                    }


                    // duration of scroll animation
var scrollDuration = 300;
// paddles
var leftPaddle = document.getElementsByClassName('left-paddle');
var rightPaddle = document.getElementsByClassName('right-paddle');
// get items dimensions
var itemsLength = $('.item').length;
var itemSize = $('.item').outerWidth(true);
// get some relevant size for the paddle triggering point
var paddleMargin = 20;

// get wrapper width
var getMenuWrapperSize = function() {
	return $('.menu-wrapper').outerWidth();
}
var menuWrapperSize = getMenuWrapperSize();
// the wrapper is responsive
$(window).on('resize', function() {
	menuWrapperSize = getMenuWrapperSize();
});
// size of the visible part of the menu is equal as the wrapper size 
var menuVisibleSize = menuWrapperSize;

// get total width of all menu items
var getMenuSize = function() {
	return itemsLength * itemSize;
};
var menuSize = getMenuSize();
// get how much of menu is invisible
var menuInvisibleSize = menuSize - menuWrapperSize;

// get how much have we scrolled to the left
var getMenuPosition = function() {
	return $('.menu').scrollLeft();
};

// finally, what happens when we are actually scrolling the menu
$('.menu').on('scroll', function() {

	// get how much of menu is invisible
	menuInvisibleSize = menuSize - menuWrapperSize;
	// get how much have we scrolled so far
	var menuPosition = getMenuPosition();

	var menuEndOffset = menuInvisibleSize - paddleMargin;

	// show & hide the paddles 
	// depending on scroll position
	if (menuPosition <= paddleMargin) {
		$(leftPaddle).addClass('hidden');
		$(rightPaddle).removeClass('hidden');
	} else if (menuPosition < menuEndOffset) {
		// show both paddles in the middle
		$(leftPaddle).removeClass('hidden');
		$(rightPaddle).removeClass('hidden');
	} else if (menuPosition >= menuEndOffset) {
		$(leftPaddle).removeClass('hidden');
		$(rightPaddle).addClass('hidden');
}

	// print important values
	$('#print-wrapper-size span').text(menuWrapperSize);
	$('#print-menu-size span').text(menuSize);
	$('#print-menu-invisible-size span').text(menuInvisibleSize);
	$('#print-menu-position span').text(menuPosition);

});

// scroll to left
$(rightPaddle).on('click', function() {
	$('.menu').animate( { scrollLeft: menuInvisibleSize}, scrollDuration);
});

// scroll to right
$(leftPaddle).on('click', function() {
	$('.menu').animate( { scrollLeft: '0' }, scrollDuration);
});
                </script>

                <script>   
                    let slideIndex1 = 1;
                    showSlides1(slideIndex1);
    
                    function plusSlides1(n1) {
                        showSlides1(slideIndex1 += n1);
                    }
    
                    function currentSlide1(n) {
                        showSlides1(slideIndex1 = n1);
                    }
    
                    function showSlides1(n1) {
                        let q;
                        let slides1 = document.getElementsByClassName("mySlides1");
                        if (n1 > slides1.length) {slideIndex1 = 1}    
                        if (n1 < 1) {slideIndex1 = slides1.length}
                        for (q = 0; q < slides1.length; q++) {
                            slides1[q].style.display = "none";  
                        }
                        
                        slides1[slideIndex1-1].style.display = "block";  
                    }
                </script>
        

</body>

</html>