<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="PackageDetailPage.css">
        <title>Package Detail Page</title>
    </head>
    <body>
        <div class="mainContainerPackagesPage">
            <!-- header -->
            <div class="header">
                <div class="dropdown-main">
                    <img src="../Assets/Icon/List.svg" class="List dropbtn-main" />
                    <div class="dropdown-content-main">
                            <a href="../Components/PackagesPage.html">BRAND AMBASSADOR</a>
                            <a href="#">ABOUT US</a>
                            <a href="#">EXPLORE WITH SCO</a>
                            <a href="#">EVENTS</a>
                            <a href="#">VALUE ADDED SERVICES</a>
                            <a href="#">SUPPORT</a>
                      </div>
                </div>
                <img src="../Assets/Icon/Sco Logo.svg" class="ScoLogo" />
                <img src="../Assets/Icon/Search.svg" class="searchBar" />
            </div>
            <!-- navbar -->
            <div class="navBar">
                <a class="custom-link" href="./Index.html">
                    <h1 class="navBarText">E-Services Portal</h1>
                </a>
                <div class="dropdown">
                  <a class="navBarText"><img class="icon4 dropbtn" src="../Assets/Icon/Vector9.svg" />Mobile</a>
                  <div class="dropdown-content">
                    <div class="col-6">
                        <a href="#">Overview</a>
                        <div class="linee-1"></div>
                        <a href="#">Coverage</a>
                        <div class="linee-2"></div>
                        <a href="#">Service Features</a>
                        <div class="linee-3"></div>
                        <a href="#">International Call Ratess</a>
                    </div>
                    <div class="coll">
                        <a class="custom-packages" href="../Components/PackagesPage.html"><img class="icon-packages" src="../Assets/Icon/packages.png" />Packages</a>
                        <a href="#">Prepaid</a>
                        <div class="linee-4"></div>
                        <a href="#">Postpaid</a>
                        <div class="linee-5"></div>
                        <a href="#">Corporate</a>
                    </div>
                  </div>
                </div>
                
                <!-- <div class="dropdown">
                    <button class="dropbtn">Dropdown 
                    </button>
                   
                  </div>  -->
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Phone</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Internet</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />S Paisa</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Projects</h1>
                <h1 class="navBarText"><img class="icon4" src="../Assets/Icon/Vector9.svg" />Alerts</h1>
            </div>
            
            <!-- <div class="rectangle6">
                <img class="netflixBack" src="../Assets/Netflix_English-5baff18e4cedfd0026d27d78-3a224b5938464fe6a6299f8fe4945a5b.svg" alt="netflix_wallpaper"></img>
                <img class="scoSmartTvLogo" src="../Assets/Logo/logo-sco-tv 2.svg" alt="sco_smart_tv_logo"> </img>
                <h1 class="text1">High speed is for <b style="font-weight: 900;">Higher Altitudes</b></h1>
                
                <div class="rectangle7">
                    <img class="icon2" src="../Assets/Icon/Vector2.svg"></img>
                    <img class="icon1" src="../Assets/Icon/Vector1.svg"></img>
                    <a class="text2">sco.gov.pk/gpon-packages</a>
                </div>

                <img class="smartTV" src="../Assets/sco sMART tv 1.svg" alt="smart_tv"/>
                <img class="rectangle3" src="../Assets/Icon/Rectangle 3.svg" alt="rect_3"/>

            </div> -->
            <div class="slideshow-container">

                <div class="mySlides rectangle6 fade">
                <img class="bgImg" src="../Assets/Images//wide-angle-shot-satellite-tower-mountain 1.png"
                    alt="netflix_wallpaper">
                </img>
                <img class="fourgLogo" src="../Assets/Icon/Group 20.svg" alt="fourgLogo"> </img>
                <h1 class="text1">Mobile Network</h1>
                <p1 class="text">First ever GSM cellular services in Azad Jammu & Kashmir and Gilgit Baltistan were
                    launched by SCO in 2004 with brand name of SCOM.</p1>
                <img class="couple" src="../Assets/Images/couple.png" alt="couple" />
                <img class="rectangle3" src="../Assets/Icon/Rectangle 3.svg" alt="rect_3" />
                </div>
                
                <div class="mySlides rectangle6 fade">
                    <img class="bgImg" src="../Assets/Images/4G Broadband Device 1.png"
                    alt="netflix_wallpaper">
                </img>
                </div>
                
                <div class="mySlides rectangle6 fade">
                    <img class="bgImg" src="../Assets/Images//wide-angle-shot-satellite-tower-mountain 1.png"
                    alt="netflix_wallpaper">
                </img>
                <img class="fourgLogo" src="../Assets/Icon/Group 20.svg" alt="fourgLogo"> </img>
                <h1 class="text1">Mobile Network</h1>
                <p1 class="text">First ever GSM cellular services in Azad Jammu & Kashmir and Gilgit Baltistan were
                    launched by SCO in 2004 with brand name of SCOM.</p1>
                <img class="couple" src="../Assets/Images/couple.png" alt="couple" />
                <img class="rectangle3" src="../Assets/Icon/Rectangle 3.svg" alt="rect_3" />
                </div>
                
            </div>
                <br>
                
                <div style="text-align:center; margin-top: 56%;">
                  <span class="dot" ></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                </div>

            <div class="bodyContainer"> 
                <div class="Div1">
                    <img style="margin-left: 10%;" src="../Assets/Images/GB).svg"/>
                </div>
                <div class="Div2">
                    <img src="../Assets/Images/Group 57.svg"/>
                    <!-- <img src="../Assets/Icon/Group 55.svg"/>
                    <img src="../Assets/Icon/Group 54.svg"/>
                    <img src="../Assets/Icon/Group 53.svg"/>
                    <img src="../Assets/Icon/Group 52.svg"/>
                    <img src="../Assets/Icon/Group 51.svg"/>
                    <img src="../Assets/Icon/Group 50.svg"/> -->
                </div>

                <div class="Div3">
                    <p class="div3Text">Indulge yourself in the enticing taste of SCO multi feature packages.</p>
                </div>

                <div class="Div4">
                    <img src="../Assets/Images/Group 58.svg"/>
                </div>

                <div class="Div5">
                    <div class="subDiv5">
                        <div class="subDiv5_1">
                            <img style="margin-top: 20px; margin-left: 19%;" src="../Assets/Images/TERMS & CONDITIONS ACTIVATION PROCEDURE.svg"/>
                        </div>
                        <div class="subDiv5_2">
                            <img style="margin-left: 45%;" src="../Assets/Images/Vector.svg"/>
                            <img style="margin-left: 45%;" src="../Assets/Images/Vector.svg"/>
                        </div>
                    </div>
                    <img style="margin-left: 17%;" src="../Assets/Icon/GST.svg"/>
                </div>

                <div class="Div6">
                    <div class="subDiv6_1">
                        <h1 class="div6Heading">HOT PACKAGES</h1>
                    </div>
                    <div class="subDiv6_2">
                        <div class="subDiv6_2_1">
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">Daily</h2>
                                    <h1 class="heading2TopDiv">COVID Relief Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">30 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector6.svg"/>
                                        <h1 class="text1MiddleDiv">100 MBs</h1>
                                        <h2 class="text2MiddleDiv">Internet</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector7.svg"/>
                                        <h1 class="text1MiddleDiv">12 Hrs</h1>
                                        <h2 class="text2MiddleDiv">Validity</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
        
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">(AJ&K *Only)</h2>
                                    <h1 class="heading2TopDiv">Kashmir Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">300 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">100 Mins</h1>
                                        <h2 class="text2MiddleDiv">OFF Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector8.svg"/>
                                        <h1 class="text1MiddleDiv">1000</h1>
                                        <h2 class="text2MiddleDiv">SMS</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
        
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">(AJ&K +GB)</h2>
                                    <h1 class="heading2TopDiv">Azadi Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">300 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                        <h2 class="text2MiddleDiv">7am - 10am</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">100 Mins</h1>
                                        <h2 class="text2MiddleDiv">OFF Net</h2>
                                        <h2 class="text2MiddleDiv">10pm - 7am</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector8.svg"/>
                                        <h1 class="text1MiddleDiv">1000</h1>
                                        <h2 class="text2MiddleDiv">SMS</h2>
                                        <h2 class="text2MiddleDiv">24 Hrs</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
                        </div>
                        <div class="subDiv6_2_1">
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">Daily</h2>
                                    <h1 class="heading2TopDiv">COVID Relief Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">30 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector6.svg"/>
                                        <h1 class="text1MiddleDiv">100 MBs</h1>
                                        <h2 class="text2MiddleDiv">Internet</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector7.svg"/>
                                        <h1 class="text1MiddleDiv">12 Hrs</h1>
                                        <h2 class="text2MiddleDiv">Validity</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
        
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">(AJ&K *Only)</h2>
                                    <h1 class="heading2TopDiv">Kashmir Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">300 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">100 Mins</h1>
                                        <h2 class="text2MiddleDiv">OFF Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector8.svg"/>
                                        <h1 class="text1MiddleDiv">1000</h1>
                                        <h2 class="text2MiddleDiv">SMS</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
        
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">(AJ&K +GB)</h2>
                                    <h1 class="heading2TopDiv">Azadi Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">300 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                        <h2 class="text2MiddleDiv">7am - 10am</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">100 Mins</h1>
                                        <h2 class="text2MiddleDiv">OFF Net</h2>
                                        <h2 class="text2MiddleDiv">10pm - 7am</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector8.svg"/>
                                        <h1 class="text1MiddleDiv">1000</h1>
                                        <h2 class="text2MiddleDiv">SMS</h2>
                                        <h2 class="text2MiddleDiv">24 Hrs</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
                        </div>
                        <div class="subDiv6_2_1">
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">Daily</h2>
                                    <h1 class="heading2TopDiv">COVID Relief Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">30 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector6.svg"/>
                                        <h1 class="text1MiddleDiv">100 MBs</h1>
                                        <h2 class="text2MiddleDiv">Internet</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector7.svg"/>
                                        <h1 class="text1MiddleDiv">12 Hrs</h1>
                                        <h2 class="text2MiddleDiv">Validity</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
        
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">(AJ&K *Only)</h2>
                                    <h1 class="heading2TopDiv">Kashmir Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">300 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">100 Mins</h1>
                                        <h2 class="text2MiddleDiv">OFF Net</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector8.svg"/>
                                        <h1 class="text1MiddleDiv">1000</h1>
                                        <h2 class="text2MiddleDiv">SMS</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
        
                            <div class="packageBox">
                                <div class="topDiv">
                                    <h2 class="heading1TopDiv">(AJ&K +GB)</h2>
                                    <h1 class="heading2TopDiv">Azadi Package</h1>
                                </div>
                                <div class="middleDiv">
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">300 Mins</h1>
                                        <h2 class="text2MiddleDiv">ON Net</h2>
                                        <h2 class="text2MiddleDiv">7am - 10am</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                                                         
                                        <img class="icon3" src="../Assets/Icon/Vector5.svg"/>
                                        <h1 class="text1MiddleDiv">100 Mins</h1>
                                        <h2 class="text2MiddleDiv">OFF Net</h2>
                                        <h2 class="text2MiddleDiv">10pm - 7am</h2>
                                    </div>
        
                                    <div class="middleSubDiv">
                                        <img class="icon3" src="../Assets/Icon/Vector8.svg"/>
                                        <h1 class="text1MiddleDiv">1000</h1>
                                        <h2 class="text2MiddleDiv">SMS</h2>
                                        <h2 class="text2MiddleDiv">24 Hrs</h2>
                                    </div>
                                </div>
                                <div class="bottomDiv">
                                    <img src="../Assets/Images/Day Consumer Price.svg" alt="price_icon"/>
                                    <img src="../Assets/Images/Tooltip.svg" alt="detail_button_icon"/>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>

            </div>
        

            <div class="footer">
                <div class="footerSubDiv_1">
                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">WHO WE ARE</h1>
                        <p class="footerText">Who We Are</p>
                        <p class="footerText">Contact Us</p>
                        <p class="footerText">Customer Service Centre</p>
                        <p class="footerText">Franchises</p>
                        <p class="footerText">FAQs</p>
                        <p class="footerText">SCOM Scratch Cards at Ufone</p>
                        <p class="footerText">Outlets Now</p>
                    </div>
                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">SERVICES</h1>
                        <p class="footerText">S Paisa</p>
                        <p class="footerText">SCOM</p>
                        <p class="footerText">S Phone</p>
                        <p class="footerText">S Net</p>
                        <p class="footerText">SCO WLL</p>
                        <p class="footerText">DXX</p>
                        <p class="footerText">LDI</p>
                        <p class="footerText">DPLC & Colocation</p>
                        <p class="footerText">Triple Play Services Request Form</p>
                    </div>

                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">IMPORTANT LINKS</h1>
                        <p class="footerText">Dialling Codes</p>
                        <p class="footerText">Coverage Area</p>
                        <p class="footerText">Corporate Services</p>
                        <p class="footerText">Check or Recharge DSL</p>
                        <p class="footerText">Important Links</p>
                        <p class="footerText">Tenders</p>
                        <p class="footerText">Careers</p>
                        <p class="footerText">Transfer of Sims of Deceased Persons</p>    
                    </div>

                    <div class="footerItemContainer">
                        <h1 class="footerTextHeader">EVENTS & PRESS RELEASE</h1>
                        <p class="footerText">Covid-19</p>
                        <p class="footerText">Press Release</p>
                        <p class="footerText">Feedback@sco.gov.pk</p>
                        <p class="footerText">Events 2021-2022</p>
                        <p class="footerText">info@sco.gov.pk</p>
                        <p class="footerText">SCO Email</p>
                    </div>
                    
                    <div style="justify-content: flex-end; align-items: flex-end;" class="footerItemContainer">
                        <img class="footerGroupIMG" src="../Assets/Icon/Group 1.svg" />
                        <img class="footerGroupIMG" src="../Assets/Icon/Group2.svg" />
                    </div>

                </div>
                <div class="footerSubDiv_2">
                    <div style="width: 50%;justify-content: center;align-items: center;" class="footerItemContainer">
                        <img class="footerFrame1" src="../Assets/Icon/Frame 66.svg"/>
                    </div>
                    <div style="width: 50%;justify-content: flex-end;align-items: flex-end;" class="footerItemContainer">
                        <img class="footerFrame2" src="../Assets/Icon/Frame 68.svg"/>
                    </div>
                </div>
            </div>

        </div>

        <script>
            let slideIndex = 0;
                showSlides();

                function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                }
                slideIndex++;
                if (slideIndex > slides.length) {slideIndex = 1}    
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";  
                dots[slideIndex-1].className += " active";
                setTimeout(showSlides, 5000); // Change image every 2 seconds
                }
            </script>
    </body>
</html>

